<br>
<br>
<br>
<h2 class="text-center font-weight-bold text-white">Sign up</h2>

<br>
<br>
<br>

<div class="login-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <p>I am a...</p>
      <%=  radio_button_tag(:role, "student") %>
      <%= f.label(:role, "student") %>
      <%=  radio_button_tag(:role, "teacher") %>
      <%= f.label(:role, "teacher") %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<%= render "shared/footer" %>
