<div class="wrapper">
  <h2 class="text-center font-weight-bold text-white py-5">Sign up</h2>


  <div class="login-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <p>I am a...</p>
        <%= f.input :teacher,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            :collection => ["Student", "Teacher"] %>
        <%= f.label(:school_name, "School Code (optional)") %>
        <%= f.text_field :school_name %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-default btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="push"></div>
</div>
