<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="display: table;">
  <%= link_to :root, class: "navbar-brand" do %>

    <div id="logo" class="p-2" style="display: table-cell;">
      <%# <%= cl_image_tag("buzz_reads_r1zkbs") %>
      <%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1647009589/ms-icon-310x310_zsl4lv.png") %>
    </div>
    <div class="head-title px-5" style="display: table-cell;">
      <h1 class="pt-2" id="nav-title">Buzz Reads</h1>
    </div>
    <%# <div class="head-tagline" style="display: table-cell;">
      <p>Guided Reading Made Easy</p>
    </div> %>

  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: table-cell;">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.teacher %>
          <li class="nav-item active fancy-link m-3">
            <%= link_to "Your Reading Groups", reading_groups_path%>
          </li>
          <li class="nav-item active fancy-link m-3">
            <%= link_to "Home", :root %>
          </li>
          <li class="nav-item fancy-link m-3">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-item active fancy-link m-3">
            <%= link_to "Your Readings", daily_readings_path%>
          </li>
          <li class="nav-item active fancy-link m-3">
            <%= link_to "Home", :root %>
          </li>
          <li class="nav-item fancy-link m-3">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
