<div class="wrapper">
  <div class="push"></div>

  <%# text and question together %>
  <div class="content">
    <%# <div class="daily-sidebar"></div> %>
    <%# text column %>

    <%# <%= content_tag :p, flash[:notice], :class => "flash notice" if flash[:notice] %>
    <div class="daily-text">

      <h3>Session Date: <%= @daily_reading.session_date.strftime("%d %B")  %></h3>
      <% if @daily_reading.objective.present? %>
        <h3>Objective: <%=  @daily_reading.objective %></h3>
      <% end %>
      <p class="text-justify no-highlight"><%= @daily_reading.excerpt %></p>
    </div>
    <%# question/student_list column %>
    <% if current_user.teacher %>
      <div class="daily-questions align-items-center">
        <%= render "shared/questions" %>

        <ul class="student-list">
          <h3>Today's Students:</h3>
          <br><br>
          <% @students.each do |student| %>
            <% if student.online? %>
              <li class="present"> <%= student.name[0..1] %> </li><br>
            <% else %>
              <li class="absent"> <%= student.name[0..1] %> </li><br>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="daily-questions">
        <h3 class="text-center font-weight-bold text-white pt-5">Answer Questions:</h3>
        <% @questions_with_answers.each_with_index do |q_w_a, i|%>

        <%# for non extension questions that have not been answered%>
              <!-- Button trigger modal -->
          <% if q_w_a[:question].extension == false && q_w_a[:answer].content == nil %>
            <div class="question-buttons">
              <button type="button" class="subscription-btn" data-toggle="modal" data-target="#questionModal-<%=i%>">
                <div class="subscription-img">
                  <%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1646655636/Depositphotos_10479229_S_dhwxrs.jpg") %>
                </div>
                Question
              </button>
            </div>
                    <!-- Modal -->
            <div class="modal fade" id="questionModal-<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= q_w_a[:question].content %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <div class="modal-body">
                      <div class="mb-3">
                        <%= simple_form_for(q_w_a[:answer]) do |f| %>
                          <%= f.hidden_field :question_id, value: q_w_a[:question].id %>
                          <%= f.hidden_field :daily_reading_id, value: @daily_reading.id %>
                          <%= f.label :content, class: "col-form-label" %>
                          <%= f.text_field :content, class: "form-control", id: "student-answer", placeholder: "Type your answer here" %>
                          <%= f.submit "Submit", class: "modal-questions-btn m-3"%>
                        <% end %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>
          <%# for non extension questions that have been answered%>
          <% elsif q_w_a[:question].extension == false && q_w_a[:answer].content != nil %>
            <div class="question-buttons">
              <button type="button" class="subscription-btn check" data-toggle="modal" data-target="#questionModal-<%=i%>">
                <div class="subscription-img">
                  <%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1646655636/Depositphotos_10479229_S_dhwxrs.jpg") %>
                </div>
                Question
              </button>
            </div>
                    <!-- Modal -->
            <div class="modal fade" id="questionModal-<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= q_w_a[:question].content %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <div class="modal-body">
                      <div class="mb-3">
                        <%= simple_form_for(q_w_a[:answer]) do |f| %>
                          <%= f.hidden_field :question_id, value: q_w_a[:question].id %>
                          <%= f.hidden_field :daily_reading_id, value: @daily_reading.id %>
                          <%= f.label :content, class: "col-form-label" %>
                          <%= f.text_field :content, class: "form-control", id: "student-answer", placeholder: "Type your answer here" %>
                          <br>
                          <%= f.label "Teacher:"  %>
                          <%= f.label "Well done! Can you find another example of this in the text?" %>
                          <%= f.submit "Submit", class: "modal-questions-btn m-3"%>
                        <% end %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>
          <%# for extension questions that have not been answered%>
          <% elsif q_w_a[:question].extension == true && q_w_a[:answer].content == nil%>
            <div class="question-buttons">
              <button type="button" class="subscription-btn" data-toggle="modal" data-target="#exampleModal">
                <div class="subscription-img">
                  <%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1646144180/Depositphotos_50322049_S_yjdtuf.jpg") %>
                </div>
                Extension
              </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= q_w_a[:question].content %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <%= simple_form_for(q_w_a[:answer]) do |f| %>
                        <%= f.hidden_field :question_id, value: q_w_a[:question].id %>
                        <%= f.hidden_field :daily_reading_id, value: @daily_reading.id %>
                        <%= f.label :content, class: "col-form-label" %>
                        <%= f.text_area :content, class: "form-control", rows: "16", cols: "180", id: "student-answer", placeholder: "Type your answer here" %>
                        <%= f.submit "Submit", class: "modal-questions-btn m-3"%>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <%# <input type="button" class="modal-questions-btn" value="Save Changes"> %>

                </div>

              </div>

          <%# for extension questions that have been answered %>
          <% else %>
            <div class="question-buttons">
              <button type="button" class="subscription-btn check" data-toggle="modal" data-target="#exampleModal">
                <div class="subscription-img">
                  <%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1646144180/Depositphotos_50322049_S_yjdtuf.jpg") %>
                </div>
                Extension
              </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= q_w_a[:question].content %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <div class="modal-body">
                    <div class="mb-3">
                      <%= simple_form_for(q_w_a[:answer]) do |f| %>
                        <%= f.hidden_field :question_id, value: q_w_a[:question].id %>
                        <%= f.hidden_field :daily_reading_id, value: @daily_reading.id %>
                        <%= f.label :content, class: "col-form-label" %>
                        <%= f.text_area :content, class: "form-control", rows: "16", cols: "180", id: "student-answer", placeholder: "Type your answer here" %>
                        <br>
                        <%= f.label "Well done! Can you find another example of this in the text?" %>
                        <%= f.submit "Submit", class: "modal-questions-btn m-3"%>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <%# chat box %>
  <button class="open-button" type="button">Chat</button>

  <div class="chat-popup form-container" id="myForm">
    <%= render "shared/chatroom", chatroom: @chatroom, message: @message %>
    <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
      <%# <%= f.label %>
      <%= f.text_area :content, size: "5x5", label: false, placeholder: "Message #{@chatroom.name}" %>
      <%= f.submit 'Send', class: 'btn-chat' %>
      <%# <button type="submit" class="btn-chat">Send</button> %>
      <button type="button" id="btn-cancel">Close</button>
    <% end %>
  </div>
  <div class="push"></div>
</div>
