
<br>


<h2 class="text-center font-weight-bold text-white">Log in</h2>

<br>

<div class="login-form">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <p>I am a...</p>
      <%=  radio_button_tag(:role, "student") %>
      <%= f.label(:role, "student") %>
      <%=  radio_button_tag(:role, "teacher") %>
      <%= f.label(:role, "teacher") %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<%= render "shared/footer" %>
