<div class="wrapper">
  <div class="push"></div>
  <h1 class="text-center font-weight-bold text-white pt-5">Welcome, <%= current_user.name  %>!</h1>
  <h1 class="text-center font-weight-bold text-white pt-5">What would you like to do with this reading group?</h1>

    <%# options if you click on an existing group %>
  <div class="subscription-btn-group inactive my-group-actions">
    <div class="subscription-btn text-center">
      <div class="cover-img"><%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1650012851/Depositphotos_13604819_S_tulydn.jpg")  %></div>
      <h3 class="text-center">Add a Reading</h3>
    </div>
    <%= link_to reading_group_path(@reading_group.id) do %>
      <div class="subscription-btn text-center">
        <div class="cover-img"><%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1650012851/Depositphotos_13604819_S_tulydn.jpg")  %></div>
        <h3 class="text-center">Go To Readings</h3>
      </div>
    <% end %>
    <div class="subscription-btn text-center">
      <div class="cover-img"><%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1650012851/Depositphotos_13604819_S_tulydn.jpg")  %></div>
      <h3 class="text-center">Change Students</h3>
    </div>
    <div class="subscription-btn text-center">
      <div class="cover-img"><%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1650012851/Depositphotos_13604819_S_tulydn.jpg")  %></div>
      <h3 class="text-center">Gradebook</h3>
    </div>
  </div>
</div>
