<div class="wrapper">
  <div class="push"></div>
  <h1 class="text-center font-weight-bold text-white pt-5">Welcome, <%= current_user.name  %>!</h1>
  <h1 class="text-center font-weight-bold text-white pt-5">Reading Group: <%= @reading_group.name %></h1>
  <div class="subscription-btn-group">
    <% @reading_group.daily_readings.each do |dr| %>
      <%= link_to daily_reading_path(dr.id) do  %>
        <div class="subscription-btn text-center">
          <div class="cover-img"><%= cl_image_tag(dr.cover)  %></div>
          <h3 class="fancy-link text-center"><%= link_to dr.session_date.strftime("%d %B"), daily_reading_path(dr.id) %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="push"></div>
</div>
